body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  min-height: 400px;
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  padding: 5px;
  border-radius: 3px;
  background: #e1e1e1;
}
h1 {
  margin: 0;
  padding: 20px 0;
}
.chat {
  filter: none;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto 20px;
  border: 1px solid;
  padding: 10px 0px 5px 10px;
  border-radius: 5px;
}
.chat_messages {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scroll-snap-type: none;
  height: 60vh;
  padding-right: 10px;
}
.message {
  border: 1px solid;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
.left {
  align-self: flex-start;
  text-align: left;
}
.right {
  align-self: flex-end;
  text-align: right;
}
.chat_input {
  display: flex;
}
input.chat_input {
  margin: 10px 0;
  font-size: 15px;
  border-radius: 3px;
  border: 2px solid;
  padding: 5px 10px;
  box-sizing: border-box;
  flex-grow: 2;
}
.chat_selector {
  display: flex;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  padding: 13px;
}
.buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  line-height: 1;
  font-size: 25px;
}
.buttons * {
  cursor: pointer;
  padding: 0px 5px;
}
button {
  font-size: 20px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 3px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 25px;
  }
  .chat_messages {
    height: 40vh;
  }
}

/* theme */

.light.App {
  background: url("assets/bg.jpg");
}
.light .chat {
  background: url("assets/chat.jpg");
  border-color: #ccc;
}
.light .message {
  border-color: #ccc;
}
.light .left {
  background: #fff;
}
.light .right {
  background: rgb(219, 255, 187);
}
.light .chat_input {
  border-color: #ccc;
}
.light button {
  background: #fff;
  border-color: #ccc;
}

.dark.App {
  background: url("assets/bg_dark.png");
}
.dark .chat {
  background: url("assets/chat_dark.png");
  border-color: #ccc;
}
.dark h1,
.dark p {
  color: white;
}
.dark .message {
  border-color: #525252;
  color: white;
}
.dark .left {
  background: #22303f;
}
.dark .right {
  background: #3f6b95;
}
.dark .chat_input {
  border-color: #ccc;
}
.dark button {
  background: #fff;
  border-color: #ccc;
}
.dark input {
  background: #17202a;
  color: white;
  border: 1px solid;
}
.dark input::-webkit-input-placeholder {
  /* Chrome */
  color: #abbbcb;
}
.dark input:-ms-input-placeholder {
  /* IE 10+ */
  color: #abbbcb;
}
.dark input::-moz-placeholder {
  /* Firefox 19+ */
  color: #abbbcb;
}
.dark input:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #abbbcb;
}
