body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(bg.jpg);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  padding: 5px;
  border-radius: 3px;
  background: #e1e1e1;
}
.chat {
  filter: none;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto 20px;
  border: 1px solid #ccc;
  padding: 10px 0px 5px 10px;
  border-radius: 5px;
  background: url(chat.jpg);
}
.chat_messages {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scroll-snap-type: none;
  height: 60vh;
  padding-right: 10px;
}
.message {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 7px;
  border-radius: 5px;
}
.left {
  align-self: flex-start;
  background: #fff;
}
.right {
  align-self: flex-end;
  background: rgb(219, 255, 187);
}

.chat_input {
  margin: 10px 10px 10px 0;
  height: 27px;
  font-size: 15px;
  border-radius: 3px;
  border: 2px solid #ccc;
  padding-left: 5px;
}
.chat_selector {
  display: flex;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}
.buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  line-height: 1;
}
.buttons * {
  cursor: pointer;
  padding: 0px 5px;
}
button {
  font-size: 20px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 3px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 25px;
  }
  .chat_messages {
    height: 40vh;
  }
}
